atomicwrites
attrs
backcall
bleach
certifi
chardet
Click
colorama
cycler
decorator
defusedxml
entrypoints
ffmpeg
filelock
funcsigs
gitdb2
GitPython
idna
imageio
importlib-metadata
ipydatawidgets
ipykernel
ipympl
ipython
ipython-genutils
ipyvolume
ipywebrtc
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
MarkupSafe
matplotlib
mistune
more-itertools
nbconvert
nbformat
notebook
numpy
opencv-python
packaging
pandas
pandocfilters
parso
pathlib2
pexpect
pickleshare
Pillow
pipenv
pluggy
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
py
Pygments
pyparsing
pyrsistent
pytest
python-dateutil
pythreejs
pytz
PyYAML
pyzmq
qtconsole
ray
redis
requests
scikit-learn
scipy
seaborn
Send2Trash
setproctitle
six
smmap2
tensorboardX
terminado
testpath
torch
torchvision
tornado
tqdm
traitlets
traittypes
urllib3
virtualenv
virtualenv-clone
wcwidth
webencodings
widgetsnbextension
zipp
git+https://github.com/matplotlib/basemap.git